{
  "extends": "airbnb-base",
  "rules": {
    "max-len": [2, 150],
    "import/no-extraneous-dependencies": [
      "error",
      {"devDependencies": ["**/tests/**/*.*", "**/tasks/**/*.js"]}
    ]
  }
}
